div.animation {
  width: 100%;
  height: 100vh;
  background-color: orange;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#first {
  stroke-dasharray: 422px;
  stroke-dashoffset: 422px;
  animation: fadeInside 0.6s ease-in forwards;
}

#second {
  stroke-dasharray: 360px;
  stroke-dashoffset: 360px;
  animation: fadeInside 0.6s ease-in forwards 0.3s;
}

#third {
  stroke-dasharray: 459px;
  stroke-dashoffset: 459px;
  animation: fadeInside 0.6s ease-in forwards 0.6s;
}

#fourth {
  stroke-dasharray: 418px;
  stroke-dashoffset: 418px;
  animation: fadeInside 0.6s ease-in forwards 0.9s;
}

#fifth {
  stroke-dasharray: 413px;
  stroke-dashoffset: 413px;
  animation: fadeInside 0.6s ease-in forwards 1.2s;
}

#sixth {
  stroke-dasharray: 371px;
  stroke-dashoffset: 371px;
  animation: fadeInside 0.6s ease-in forwards 1.5s;
}

#seventh {
  stroke-dasharray: 652px;
  stroke-dashoffset: 652px;
  animation: fadeInside 0.6s ease-in forwards 1.8s;
}

#eighth {
  stroke-dasharray: 309px;
  stroke-dashoffset: 309px;
  animation: fadeInside 0.6s ease-in forwards 2.1s;
}

#ninth {
  stroke-dasharray: 360px;
  stroke-dashoffset: 360px;
  animation: fadeInside 0.6s ease-in forwards 2.4s;
}

#tenth {
  stroke-dasharray: 557px;
  stroke-dashoffset: 557px;
  animation: fadeInside 0.6s ease-in forwards;
}

#eleventh {
  stroke-dasharray: 330px;
  stroke-dashoffset: 330px;
  animation: fadeInside 0.6s ease-in forwards 0.1s;
}

#twelfth {
  stroke-dasharray: 355px;
  stroke-dashoffset: 355px;
  animation: fadeInside 0.6s ease-in forwards 0.2s;
}

#thirteenth {
  stroke-dasharray: 301px;
  stroke-dashoffset: 301px;
  animation: fadeInside 0.6s ease-in forwards 0.3s;
}

#fourteenth {
  stroke-dasharray: 199px;
  stroke-dashoffset: 199px;
  animation: fadeInside 0.6s ease-in forwards 0.4s;
}

#fifteenth {
  stroke-dasharray: 228px;
  stroke-dashoffset: 228px;
  animation: fadeInside 0.6s ease-in forwards 0.5s;
}

#sixteenth {
  stroke-dasharray: 330px;
  stroke-dashoffset: 330px;
  animation: fadeInside 0.6s ease-in forwards 0.6s;
}

#seventeenth {
  stroke-dasharray: 405px;
  stroke-dashoffset: 405px;
  animation: fadeInside 0.6s ease-in forwards 0.7s;
}

#eighteenth {
  stroke-dasharray: 330px;
  stroke-dashoffset: 330px;
  animation: fadeInside 0.6s ease-in forwards 0.8s;
}

#nineteenth {
  stroke-dasharray: 251px;
  stroke-dashoffset: 251px;
  animation: fadeInside 0.6s ease-in forwards 0.9s;
}

#twentieth {
  stroke-dasharray: 330px;
  stroke-dashoffset: 330px;
  animation: fadeInside 0.6s ease-in forwards 1s;
}

#twenty-first {
  stroke-dasharray: 183px;
  stroke-dashoffset: 183px;
  animation: fadeInside 0.6s ease-in forwards 1.1s;
}

#twenty-second {
  stroke-dasharray: 288px;
  stroke-dashoffset: 288px;
  animation: fadeInside 0.6s ease-in forwards 1.2s;
}

#twenty-third {
  stroke-dasharray: 364px;
  stroke-dashoffset: 364px;
  animation: fadeInside 0.6s ease-in forwards 1.3s;
}

#twenty-fourth {
  stroke-dasharray: 451px;
  stroke-dashoffset: 451px;
  animation: fadeInside 0.6s ease-in forwards 1.4s;
}

#twenty-fifth {
  stroke-dasharray: 330px;
  stroke-dashoffset: 330px;
  animation: fadeInside 0.6s ease-in forwards 1.5s;
}

#twenty-sixth {
  stroke-dasharray: 300px;
  stroke-dashoffset: 300px;
  animation: fadeInside 0.6s ease-in forwards 1.6s;
}

#twenty-seventh {
  stroke-dasharray: 228px;
  stroke-dashoffset: 228px;
  animation: fadeInside 0.6s ease-in forwards 1.7s;
}

#twenty-eighth {
  stroke-dasharray: 391px;
  stroke-dashoffset: 391px;
  animation: fadeInside 0.6s ease-in forwards 1.8s;
}

#twenty-ninth {
  stroke-dasharray: 300px;
  stroke-dashoffset: 300px;
  animation: fadeInside 0.6s ease-in forwards 1.9s;
}

#thirtieth {
  stroke-dasharray: 568px;
  stroke-dashoffset: 568px;
  animation: fadeInside 0.6s ease-in forwards 2s;
}

#thirty-first {
  stroke-dasharray: 199px;
  stroke-dashoffset: 199px;
  animation: fadeInside 0.6s ease-in forwards 2.1s;
}

#thirty-second {
  stroke-dasharray: 300px;
  stroke-dashoffset: 300px;
  animation: fadeInside 0.6s ease-in forwards 2.2s;
}

#thirty-third {
  stroke-dasharray: 330px;
  stroke-dashoffset: 330px;
  animation: fadeInside 0.6s ease-in forwards 2.3s;
}

#thirty-fourth {
  stroke-dasharray: 330px;
  stroke-dashoffset: 330px;
  animation: fadeInside 0.6s ease-in forwards 2.4s;
}

#thirty-fifth {
  stroke-dasharray: 191px;
  stroke-dashoffset: 191px;
  animation: fadeInside 0.6s ease-in forwards 2.5s;
}

svg {
  animation: fill 1s ease-in forwards 2.4s;
}

@keyframes fadeInside {
  to {
    stroke-dashoffset: 0px;
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}/*# sourceMappingURL=animation.css.map */