* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.body {
  position: relative;
}

.orangeback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 100vh;
  height: 150vh;
}

div.header {
  nav {
    width: 100%;

    ul {
      padding: 2rem;
      width: 70%;
      display: flex;
      list-style-type: none;
      justify-content: space-around;
      li {
        font-size: 2rem;
        a.active {
          color: orange;
        }
        a {
          color: black;
          text-decoration: none;
        }
      }
    }
  }
}

div.main {
  display: flex;
  flex-wrap: wrap;

  div.left {
    flex: 3 1 500px;
    padding: 3rem;
    h1 {
      font-weight: 600;
      font-size: 4rem;
      color: orange;
    }
    p {
      font-size: 2rem;
      padding: 2rem 0rem;
    }
  }
  div.right {
    flex: 1 1 600px;
    position: relative;
    img.selfpic1 {
      position: absolute;

      border-radius: 50%;
      width: 30vw;
      height: 30vw;
      top: 45vh;
      right: 20vw;
      transform: translateY(-30%);
    }
  }
  div.table {
    flex: 3 1 500px;
    padding: 2rem;
    font-size: 1.5rem;
    table {
      border-collapse: collapse;
      tr {
        border-bottom: 2px solid gray;
        transition: all 0.2s ease;
        td {
          padding: 1rem;
        }
        &:hover {
          background-color: orange;
        }
      }
    }
  }
  div.selfpic2 {
    flex: 1 1 600px;
    position: relative;
    img {
      width: 30vw;
    }
    div.orangeback2 {
      position: absolute;
      width: 30vw;
      height: 85vh;
      background-color: orange;
      top: 30px;
      left: 80px;
      z-index: -1;
    }
  }
  div.form {
    flex: 1 1 600px;
    margin: 1rem;
    form {
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: left;
      div {
        margin: 0.5rem;
        lable {
          font-size: 1.5rem;
          margin-right: 1rem;
        }
        input,
        textarea {
          background-color: orange;
          color: white;
          font-size: 1.5rem;
          padding: 0.5rem;
          border: none;
          width: 80%;
        }
        textarea {
          vertical-align: top;
        }
      }
      button {
        align-self: center;
        background-color: orange;
        color: white;
        border: none;
        cursor: pointer;
        padding: 1rem 2rem;
        font-size: 2rem;
      }
    }
  }
  div.line {
    background-color: gray;
    width: 3px;
  }

  div.contact {
    flex: 1 1 500px;

    div.contact {
      font-size: 1.2rem;
      h2 {
        margin: 2rem;
      }
    }
  }
}

div.footer {
  margin: 1rem;
  a {
    padding: 1rem;
  }
}

@media screen and (max-width: 1100px) {
  .orangeback {
    opacity: 0;
  }
  div.main {
    div.right {
      display: flex;
      align-items: center;
      justify-content: center;
      img.selfpic1 {
        position: static;
        transform: none;
        width: 40vw;
        height: 40vw;
      }
    }
    div.selfpic2 {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 40vw;
      }
      div.orangeback2 {
        display: none;
      }
    }
  }
  div.header {
    nav {
      ul {
        width: 100%;
        flex-direction: column;
        li {
          padding: 1rem 0rem;
          border-bottom: 2px solid gray;
        }
      }
    }
  }
}
